/* BASE SETUP */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  box-sizing: border-box;
  background-color: #eee;
  position: relative;
}

h1 {
  font-family: 'Commissioner';
  font-weight: 700;
  font-size: 1.6rem;
}

h3 {
  font-family: 'Commissioner';
  font-weight: 400;
  font-size: 1rem;
}

.cta:link,
.cta:visited {
  text-decoration: none;
  font-family: "Commissioner";
  font-weight: 700;
  font-size: .9rem;
  border-radius: 10rem;
  border: none;
  padding: 1rem 2.4rem;
  display: inline-block;
  transition: all .2s;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-35%);
}
/* HEADER */
.header {
  height: 60vh;
  background-image: url(images/image-hero-desktop.jpg);
  background-size: cover;
  position: relative;
}

.heading {
  position: absolute;
  top: 10%;
  left: 11.5%;
}

.heading-text {
  color: #fff;
}

.navigation {
  display: flex;
  width: 40%;
  float: right;
  justify-content: space-around;
  transform: translate(-2.5rem, 2.9rem);
}

/*
.nav-item {
} */

.nav-item__text {
  font-family: 'Commissioner';
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
}

/* FEATURES */
.features {
  border: 1px solid #DCDCDC;
  border-radius: .5rem;
  background-color: #fff;
  text-align: center;
  width: 50%;
}

.features__icon-box {
  transform: translateY(-50%);
}

.features__content {
  margin-bottom: 2rem;
}

.features__text-box {
  margin: 0 2rem 2.5rem 2rem;
}

.features__heading {
  margin-bottom: 1rem;
}

.features__text {
  color: hsl(0, 0%, 48%);
}

.cta__back-this-project {
  height: 3.5rem;
  background-color: hsl(176, 50%, 47%);
  color: #fff;
  float: left;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.cta__back-this-project:hover {
  background-color: hsl(176, 72%, 28%);
  color: #fff;
}

.cta__bookmark {
  height: 3.5rem;
  width: 12rem;
  text-align: right;
  background-color: #eee;
  color: hsl(0, 0%, 48%);
}

.features__bookmark {
  display: inline-block;
  position: relative;
  float: right;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.features__bookmark:hover :not(:first-child) {
  filter: brightness(250%);
}

.features__bookmark-icon {
  position: absolute;
  transform: translateX(-340%);
  transition: all .2s;
}









/**/
