/* BASE SETUP */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  box-sizing: border-box;
  background-color: #eee;
  position: relative;
}

h1 {
  font-family: 'Commissioner';
  font-weight: 700;
  font-size: 1.6rem;
}

h2 {
  font-family: 'Commissioner';
  font-weight: 700;
  font-size: 1.15rem;
}

h3 {
  font-family: 'Commissioner';
  font-weight: 400;
  font-size: 1rem;
}

.cta:link,
.cta:visited {
  text-decoration: none;
  font-family: "Commissioner";
  font-weight: 700;
  font-size: .95rem;
  border-radius: 10rem;
  border: none;
  padding: 1rem 2.4rem;
  display: inline-block;
  transition: all .2s;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-4%);
}
/* HEADER */
.header {
  height: 60vh;
  background-image: url(images/image-hero-desktop.jpg);
  background-size: cover;
  position: relative;
}

.heading {
  position: absolute;
  top: 10%;
  left: 11.5%;
  z-index: 1001;
}

.heading-text {
  color: #fff;
}

.sidebar {
  position: absolute;
  top: 11%;
  right: 6%;
  display: none;
  cursor: pointer;
  z-index: 1001;
  transform: scale(1);
  transition: all .5s ease;
}

.sidebar-icon {
  fill: #fff;
  width: 2rem;
  height: 2rem;
}

.navigation {
  display: flex;
  width: 40%;
  float: right;
  justify-content: space-around;
  transform: translate(-2.5rem, 2.9rem);
}

.nav-item__text {
  font-family: 'Commissioner';
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  transition: all .3s;
}

.nav-item__text:hover {
  color: #04E7E0;
}

/* FEATURES */
.features {
  border: 1px solid #DCDCDC;
  border-radius: .5rem;
  background-color: #fff;
  text-align: center;
  width: 50%;
  margin-bottom: 2.5rem;
}

.features__icon-box {
  transform: translateY(-50%);
}

.features__content {
  margin-bottom: 2rem;
}

.features__text-box {
  margin: 0 2rem 2.5rem 2rem;
}

.features__heading {
  margin-bottom: 1rem;
}

.features__text {
  color: hsl(0, 0%, 48%);
}

.features__btns {
  height: 60px;
  position: relative;
}

.cta__back-this-project {
  height: 3.5rem;
  background-color: hsl(176, 50%, 47%);
  color: #fff;
  float: left;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.cta__back-this-project:hover {
  background-color: hsl(176, 72%, 28%);
}

.cta__bookmark {
  height: 3.5rem;
  width: 12rem;
  text-align: right;
  background-color: #eee;
  color: hsl(0, 0%, 48%);
}

.features__bookmark {
  display: inline-block;
  position: relative;
  float: right;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.features__bookmark:hover :not(:first-child) {
  filter: brightness(250%);
}

.features__bookmark-icon {
  position: absolute;
  transform: translateX(-340%);
  transition: all .2s;
}

/* STATISTICS */
.statistics {
  border: 1px solid #DCDCDC;
  border-radius: .5rem;
  background-color: #fff;
  width: 50%;
  margin-bottom: 2.5rem;

  display: flex;
  flex-direction: column;
}

.statistics__item--raised-money {
  transition: all .2s;
}

.statistics__item--total-backers {
  transition: all .2s;
}

.statistics__box {
  display: flex;
  justify-content: space-around;
}

.statistics__box > :not(:first-child) {
  border-left: 1px solid #DCDCDC;
  padding-left: 2.8rem;
  margin-left: 0;
}

.statistics__item {
  margin: 2.5rem 0;
}

.statistics__item--text {
  color: hsl(0, 0%, 48%);
  margin-top: .5rem;
}

.statistics__progress-bar {
  width: 90%;
  background-color: #eee;
  border-radius: 100rem;
  height: .8rem;
  margin: 0 auto 2rem auto;
}

.statistics__user-progress {
  width: 80%;
  background-color: hsl(176, 50%, 47%);
  border-radius: 100rem;
  height: .8rem;
  animation: progress 3s 2s;
}

/* ABOUT */
.about {
  border: 1px solid #DCDCDC;
  border-radius: .5rem;
  background-color: #fff;
  width: 50%;

  display: flex;
  flex-direction: column;
}

.about__heading-box {
  margin: 2rem;
}

.about__text-box {
  margin: 0 2rem;
  line-height: 1.8rem;
}

.about__text {
  color: hsl(0, 0%, 48%);
}

.about__item {
  border: .1px solid #CDCDCD;
  border-radius: .5rem;
  width: 90%;
  align-self: center;
  margin: 2rem 2rem 0 2rem;
}

.about > :last-child {
  margin-bottom: 4rem;
}

.about__item--header {
  margin: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
}

.item-pledge {
  text-decoration: none;
  color: hsl(176, 50%, 47%);
  font-family: "Commissioner";
  font-weight: 500;
  font-size: .95rem;
  margin: .2rem .5rem;
}

.about__item--text-box {
  margin: 1rem 2rem;
}

.about__item--text {
  color: hsl(0, 0%, 48%);
  line-height: 1.8rem;
}

.about__item--reward {
  margin: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
}

.item-number,
.btp-item-number {
  margin-top: .5rem;
}
.items-left {
  font-family: 'Commissioner';
  font-weight: 400;
  font-size: 1rem;
  color: hsl(0, 0%, 48%);
}

.cta__reward:link,
.cta__reward:visited {
  text-align: center;
  width: 11rem;
  height: 3.3rem;
  padding: 1rem 2rem;
  background-color: hsl(176, 50%, 47%);
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}

.cta__reward:hover {
  background-color: hsl(176, 72%, 28%);
}

/* OVERLAY */
.btp-overlay {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  transition: opacity .4s ease;
  padding-bottom: 5rem;
  background-color: rgba(0, 0, 0, .3);
}

.btp-overlay__content {
  /* overflow: hidden; */
  transform: translate(47%, 10%);

  display: flex;
  flex-direction: column;


  width: 52%;
  background-color: #fff;
  border-radius: 3px;
  opacity: 0;
  transition: all .4s ease;
  padding-bottom: 3rem;
  margin-bottom: 5rem;
}

.btp-overlay__icon {
  position: absolute;
  right: 2rem;
  top: 2.2rem;
}

.btp-overlay__icon-close {
  cursor: pointer;
  transition: all .2s;
}

/* .btp-overlay__icon-close:hover {
  fill: #000;
} */

.btp-overlay__header {
  margin: 2rem 2rem 0 2rem;
}

.btp-overlay__heading {
  margin-bottom: 1.5rem;
}

.btp-overlay__header-text,
.btp-overlay__item--text {
  color: hsl(0, 0%, 48%);
  font-size: .95rem;
  line-height: 1.5rem;
}

.btp-overlay__item {
  border: .1px solid #CDCDCD;
  border-radius: .5rem;
  width: 90%;
  align-self: center;
  margin: 2rem 2rem 0 2rem;
  position: relative;
  transition: all .6s;
}

.btp-overlay__item--header {
  display: flex;
  margin-bottom: 1.5rem;
}

.btp-item-pledge {
  margin-top: 1.5rem;
}
.btp-overlay__item--radio-group {
  margin-top: 1.5rem;
  display: inline-block;
}

.btp-overlay__item--radio-input {
  margin-left: 1.5rem;
  display: none;
}

.btp-overlay__item--radio-label {
  font-family: 'Commissioner';
  font-size: 1rem;
  font-weight: 700;
  margin-left: 4.5rem;
  margin-right: 1rem;
  position: relative;
  cursor: pointer;
  transition: all .2s;
}

.btp-overlay__item--radio-label:hover  {
  color: hsl(176, 50%, 47%);
}

.btp-overlay__item--radio-label:hover .btp-overlay__item--radio-button {
  border-color: hsl(176, 50%, 47%);
}

.btp-overlay__item--radio-button {
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid #CDCDCD;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -.2rem;
  left: -2.5rem;
  transition: all .2s;
}

.btp-overlay__item--radio-button:after {
  content: "";
  display: block;
  height: .8rem;
  width: .8rem;
  border-radius: 50%;
  position: absolute;
  top: 22%;
  left: 23%;
  /* transform: translate(-50%, -50%); */
  background-color: hsl(176, 50%, 47%);
  opacity: 0;
  transition: all .2s ease;
  transform: scale(0);
}

.btp-overlay__item--radio-input:checked + .btp-overlay__item--radio-label .btp-overlay__item--radio-button:after {
	opacity: 1;
  transform: scale(1);
}

.btp-overlay__item--number {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.btp-overlay__item--number2 {
  display: none;
}

.btp-overlay__item--text-box {
  margin-left: 4.5rem;
  margin-right: 2rem;
  margin-bottom: 1.5rem;
}

.btp-overlay__item--footer {
  visibility: hidden;
  width: 0;
  height: 0;
  transform: scale(0);
  border-top: .1px solid #CDCDCD;
  transition: all .5s;
  position: relative;

  display: flex;
  justify-content: space-between;
}

.btp-overlay__item--footer-textbox {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btp-overlay__item--footer-text {
  color: hsl(0, 0%, 48%);
}

.btp-overlay__item--footer-submit {
  position: relative;
  margin: 2rem 1.5rem 2rem 2rem;
}

.btp-overlay__item--footer-sign {
  position: absolute;
  transform: translate(1rem, .9rem);
}

.dollar-sign {
  font-family: "Commissioner";
  color: hsl(0, 0%, 48%);
}

.btp-overlay__item--footer-pledge {
  font-family: "Commissioner";
  color: black;
  font-weight: 700;
  border: .1px solid #CDCDCD;
  border-radius: 100rem;
  width: 6rem;
  height: 3rem;
  padding-left: 1.8rem;
  transition: all .3s;
}

.btp-overlay__item--footer-pledge:focus,
.btp-overlay__item--footer-pledge:active{
  outline: none;
  border: .1px solid #000;
  border-radius: 100rem;
}

.btp-overlay__item--footer-pledge::placeholder { color: hsl(0, 0%, 48%);}
.btp-overlay__item--footer-button {
  font-family: "Commissioner";
  background-color: hsl(176, 50%, 47%);
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 100rem;
  width: 7rem;
  height: 3rem;
  transition: all .3s;
  margin-left: .5rem;
}

.btp-overlay__item--footer-button:hover { background-color: hsl(176, 72%, 28%);}
.btp-overlay__item--error-message {
  position: absolute;
  transform: translate(180%, 490%);
  color: red;
  font-family: "Commissioner";
  font-size: .8rem;
  margin: .5rem;
  transition: all .3s;
}

/* SUCCESS MODAL */

.success-modal {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  transition: all .3s ease;
  background-color: rgba(0, 0, 0, .3);
}

.success-modal__content {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 40%;
  background-color: #fff;
  border-radius: 10px;
  opacity: 0;
  transition: all .5s ease-out;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.success-modal__icon {
  margin: 2rem;
}

.success-modal__heading {
  margin-bottom: 2rem;
}

.success-modal__text {
  line-height: 1.7rem;
  text-align: center;
  color: hsl(0, 0%, 48%);
  margin: 0 3rem;
}

.success-modal__btn {
  background-color: hsl(176, 50%, 47%);
  color: #fff;
  margin: 2.5rem 0;
  width: 7.6rem;
  height: 3.2rem;
}

.success-modal__btn:hover {background-color: hsl(176, 72%, 28%);}

/* MOBILE NAVIGATION */
.mobile-nav {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease;
  background-color: rgba(0, 0, 0, .3);
  z-index: 1000;
}

.mobile-nav__icon-box {
  position: absolute;
  top: 5.2%;
  right: 6.3%;
  cursor: pointer;
  visibility: hidden;
  transform: scale(0);
  transition: all .3s ease;
}

.mobile-nav__icon {
  fill: #fff;
  width: 1.8rem;
  height: 1.8rem;
  transition: all .5s ease;
}

.mobile-nav__content {
  overflow: hidden;
  position: absolute;
  top: 20%;
  left: 5%;
  background-color: #fff;
  border-radius: 5px;
  width: 90%;
  transform: translate(-7.8%, -5%);
  opacity: 0;
  transition: all .5s ease;
}

.mobile-nav__item {
  padding: 1.5rem;
}

.mobile-nav__item:not(:last-of-type) {
  border-bottom: .01px solid #CDCDCD;
}

.mobile-nav__item-text {
  text-decoration: none;
  font-family: "Commissioner";
  font-weight: 500;
  font-size: 1.5rem;
  color: #000;
}


/* ANIMATIONS */
@keyframes progress {
  0% {
    width: 2%;
  }

  100% {
    width: 80%;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 80%;
  }

  .features,
  .statistics,
  .about {
    width: 70%;
  }
  .statistics__box {
    flex-direction: column;
    align-items: center;
  }

  .statistics__box > :not(:first-child) {
    border-top: 1px solid #DCDCDC;
    border-left: 0;
    padding: 1rem 0 0 0;
    margin: 0 0 2rem 0;
  }

  .statistics__item {
    text-align: center;
    margin: 2rem 0;
  }

  .features__bookmark-icon {
    width: 3.5rem;
    height: 3.5rem;
  }

  .about__item--header {
    flex-direction: column;
  }

  .about__item--header .item-pledge {
    margin-left: 0;
    margin-top: .6rem;
  }

  .btp-overlay__content {
    width: 70%;
    transform: translate(21.5%, 10%) scale(1) !important;
  }

  .success-modal__content {
    width: 70%;
  }
}

@media (max-width: 600px) {
  .navigation {
    display: none;
  }

  .header {
    height: 70vh;
    background-image: url(images/image-hero-mobile.jpg);
  }

  .heading {
    top: 6%;
    left: 6%;
  }

  .heading-text {
    font-size: 2rem;
  }

  .sidebar {
    top: 7%;
    display: inline-block;
  }

  .main {
    transform: translateY(-10%);
  }

  .features,
  .statistics,
  .about {
    width: 90%;
  }

  .features__bookmark .cta, .cta__bookmark {
    display: none;
    visibility: hidden;
    margin: 0;
    width: 0;
    height: 0;
  }

  .features__bookmark-icon {
    transform: translateX(-120%);
    width: 3.5rem;
    height: 3.5rem;
  }

  .cta__back-this-project {
    transform: translateX(5%);
  }

  .btp-overlay__content {
    width: 90%;
    transform: translate(5.5%, 10%) scale(1) !important;
  }

  .btp-overlay__item--header {flex-direction: column;}
  .btp-item-pledge {margin: .5rem 4.5rem;}
  .btp-overlay__item--number {
    display: none;
  }

  .btp-overlay__item--number2 {
    display: block;
    transform: translate(2rem, 0);
    margin-bottom: 1rem;
  }

  .btp-overlay__item--footer {
    flex-direction: column;
    align-items: center;
  }

  .btp-overlay__item--footer-submit {
    margin-top: 0;
  }

  .btp-overlay__item--error-message {
    transform: translate(0, 870%);
  }
  .success-modal__content {
    width: 90%;
  }
}



/**/
